*.ipynb	diff=jupyternotebook
*.ipynb	merge=jupyternotebook
*.jpg filter=lfs diff=lfs merge=lfs -text
multivar_time_series/data filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
